
    <div class="card text-center m-3">

        <div class="form-group row">
   <div class="col-sm-6">

     <input type="text"  matInput class="form-control" [(ngModel)] ="compnayName"   matInput placeholder="Search based on companyName"       id="search"   (input)="S()"  />
   
   
   
   </div>
   
   
   
        </div>
   
         <h3 class="card-header">
   
           
           List of Companies</h3>




         <div class="card-body">
           <div>
               <table class="table table-striped">
                   <thead>
                       <tr>
                        <th>companyId</th>
                         <th>companyName</th>
                         <th> role</th>
                         <th>annualPackage</th>
                         <th>minGraduationPercentage</th>
                         <th>minSecondaryEduPercentage</th>
                         <th>minPrimaryEduPercentage</th>
                         <th>noofArrears</th>
           
                       </tr>
                     </thead>
               <tbody>   
                 <tr *ngFor="let c of pageOfItems">
                   <td>{{c.companyId}}</td>
                   <td>{{c.compnayName}}</td>
                   <td>{{c.role}}</td>
                   <td>{{c.annualPackage}}</td>
                   <td>{{c.minGraduationPercentage}}</td>
                   <td>{{c.minSecondaryEduPercentage}}</td>
                   <td>{{c.minPrimaryEduPercentage}}</td>
                   <td>{{c.noofArrears}}</td>
                   <td>       

<button mat-icon-button color="warn"> <mat-icon  (click)="applyCompany(c)" >delete_outline</mat-icon>       </button>                        
                   </td>
      

<td>      
    
    
    <button mat-icon-button >   <a routerLink="/updatecompanies" ><mat-icon (click)="updateCompany(c)">edit</mat-icon></a>  </button>                        
</td>
                 </tr>
               </tbody>
               </table>
               </div>
   
         </div>
         <div class="card-footer pb-0 pt-3">
             <jw-pagination [items]="n"  [pageSize]="pagesize" (changePage)="onChangePage($event)"></jw-pagination>
         </div>
       </div>
   
   
   
   
   
   