<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>


        <form [formGroup]="form"  (ngSubmit)="submitStudent()" >

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="mailId" >
              <mat-error *ngIf="form.get('mailId').hasError('required')"> Please Enter the  MailId</mat-error>
              <mat-error *ngIf="form.get('mailId').hasError('pattern')">  Enter a Valid MailId </mat-error>
    
              <mat-hint>Enter your MailId</mat-hint>
             <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
    
         <div>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>


              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
              <mat-error *ngIf="form.get('password').hasError('required')"> Please Enter the  Password </mat-error>
              <mat-error *ngIf="form.get('password').hasError('pattern')"> Your password should contain atleast uppercase,lowecase and special character  </mat-error>
    
            </mat-form-field>     
            
          </div>
  
    
    
    
    
  
  
  
  
         <div>
          <button type="submit" mat-raised-button color="primary" mat-raised-button [disabled]="form.invalid" >Submit</button>
        </div> 
        </form>
  
  
  
  
          
    </mat-card-content>





</mat-card>
