<p>myprofile works!</p>
<p    style="font-size:18px;">
    <b>My Details:</b>
</p>
 <mat-card class="example-card">
    <mat-card-header>
      
    </mat-card-header>
    <mat-card-content>
        <table class="table table-dark">
            <tbody>
              <tr>
                <th scope="row">studentId</th>
                <td>{{student.studentId}}</td>
              </tr>
              <tr>
                <th scope="row">studentName</th>
                <td>{{student.studentName}}</td>
              </tr>
              <tr>
                <th scope="row">mailId</th>
                <td>{{student.mailId}}</td>
              </tr>
              <tr>
                <th scope="row">department</th>
                <td>{{student.department}}</td>
              </tr>
              <tr>
                <th scope="row">graduationPercentage</th>
                <td>{{student.graduationPercentage}}</td>
              </tr>
              <tr>
                <th scope="row">secondaryEduPercentage</th>
                <td>{{student.secondaryEduPercentage}}</td>
              </tr>
              <tr>
                <th scope="row">primaryEduPercentage</th>
                <td>{{student.primaryEduPercentage}}</td>
              </tr>
              <tr>
                <th scope="row">noofArrears</th>
                <td>{{student.noofArrears}}</td>
              </tr>
              <tr>
                <th scope="row">mailId</th>
                <td>{{student.mailId}}</td>
              </tr>
              <tr> </tr>
              <p><b>Applied Companies:</b></p>
              <tr *ngFor="let c of com">
                <td> </td>
                <td >{{c.compnayName}}</td>
              </tr>
            </tbody>
          </table>
        {{com|json}}
    </mat-card-content>
    
  </mat-card>
 