.example-card {
    max-width: 400px;
    align-self: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .center-content {
      margin-top: 100px;
      text-align: -webkit-center;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }
  .mat-toolbar{
background-color:rgb(31, 36, 36);    
  }
  
  .spacer{
    flex:1 1 auto;
  }

  .navbar{
    justify-content: space-between;
   

}

span{
  padding-right: 1rem;
  color: whitesmoke;
}

.links {
    padding-right: 1rem;
}
p{
  color: whitesmoke;

}
li{
  background-color:rgb(31, 36, 36);    

}

#navbarSupportedContent{
  color:rgb(31, 36, 36);    
  background-color:rgb(31, 36, 36);    


}
.container {
    
    display: flex;
    justify-content: center;
  }

  .container1 {
    
    display: flex;
    justify-content: center;
  }
