<div class="container">

<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>


        <form [formGroup]="form1" (ngSubmit)="registerStudent()">



            
            

            <mat-form-field class="example-full-width">
                <mat-label>CompnayName</mat-label>
                <input formControlName="compnayName" #compnayName matInput placeholder="CompnayName">
                <mat-error *ngIf="form1.get('compnayName').hasError('required')"> Enter CompnayName</mat-error>

                <mat-hint>CompnayName is required</mat-hint>
                <mat-icon matSuffix>Name</mat-icon>
            </mat-form-field>




            <mat-form-field class="example-full-width">
                <mat-label>Select role</mat-label>
                <mat-select formControlName="role">
                    
                    <mat-option *ngFor="let role of roles"  [value]="role"  >
                        {{role}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>AnnualPackage</mat-label>
                <input formControlName="annualPackage" #annualPackage matInput placeholder="AnnualPackage">
                <mat-error *ngIf="form1.get('annualPackage').hasError('required')"> Enter CompnayName</mat-error>

                <mat-hint>annualPackage is required</mat-hint>
                <mat-icon matSuffix>Salary</mat-icon>
            </mat-form-field>



            <mat-form-field class="example-full-width">
                <mat-label>graduationPercentage</mat-label>
                <input formControlName="minGraduationPercentage"  matInput #minGraduationPercentage
                    placeholder="minGraduationPercentage">
                <mat-error *ngIf="form1.get('minGraduationPercentage').hasError('required')">Enter GraduationPercentage  
                </mat-error>

                <mat-hint>graduationPercentage is required</mat-hint>
            </mat-form-field>



            <mat-form-field class="example-full-width">
                <mat-label>secondaryEduPercentage</mat-label>
                <input formControlName="minSecondaryEduPercentage"  matInput #minSecondaryEduPercentage
                    placeholder="secondaryEduPercentage">
                <mat-error *ngIf="form1.get('minSecondaryEduPercentage').hasError('required')">Enter SecondaryEduPercentage 
                    </mat-error>

                <mat-hint>secondaryEduPercentage is required</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>primaryEduPercentage</mat-label>
                <input formControlName="minPrimaryEduPercentage"  matInput #minPrimaryEduPercentage
                    placeholder="primaryEduPercentage">
                <mat-error *ngIf="form1.get('minPrimaryEduPercentage').hasError('required')">Enter PrimaryEduPercentage 
                </mat-error>

                <mat-hint>primaryEduPercentage is required</mat-hint>
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>noofArrears</mat-label>
                <input formControlName="noofArrears" #noofArrears matInput placeholder="noofArrears">
                <mat-error *ngIf="form1.get('noofArrears').hasError('required')">Enter noofArrears  </mat-error>

                <mat-hint>noofArrears is required</mat-hint>
                <mat-icon matSuffix>Arrears</mat-icon>
            </mat-form-field>

            <div class="container1" >
                <button type="submit" mat-raised-button color="primary" mat-raised-button [disabled]="form1.invalid">Register</button>
            </div>
        </form>

    </mat-card-content>





</mat-card>
</div>
