<mat-toolbar color="primary" class="navbar">
  <div>PLACEMENT  MANAGEMENT SYSTEM</div>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">

          <a class="nav-link" routerLink="homepage" routerLinkActive="active">        <mat-icon>home</mat-icon> 

          </a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" *ngIf="!login" routerLink="singup" routerLinkActive="active">SignUp</a>
        </li>
      </ul> 
      <ul class="navbar-nav">
        <a class="nav-link" *ngIf="admin1" routerLink="admincompanies" routerLinkActive="active"> AllCompanies</a>
<br>
        <a class="nav-link" *ngIf="l1" routerLink="getall" routerLinkActive="active">Companies</a>

        <a class="nav-link" *ngIf="l1"   routerLink="myprofile" routerLinkActive="active">  <mat-icon>account_circle</mat-icon>
          MyProfile</a>
        <a class="nav-link" *ngIf="admin1"  routerLink="app1" routerLinkActive="active">  <mat-icon>library_add</mat-icon>
          AddCompanies</a>



        <a class="nav-link" *ngIf="login"  style="cursor:pointer" (click)="logout()">   <mat-icon>exit_to_app</mat-icon>
          Logout</a>
  
    </ul> 
  </div>
  </nav>    
  

</mat-toolbar>

<router-outlet name=""></router-outlet>


