.example-card {
    max-width: 400px;



  }

  
  .myImg{
    display: block;
  margin-left: 30%;
  margin-right: 50%;
  width: 50%;
}
  
  .example-card-header{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
    background-color:grey ;
    color:white;
  }
  .center-content {
      margin-top: 100px;
      text-align: -webkit-center;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }
  .mat-card-title{
    text-align: right;


  }
  