<div class="center-content">


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="text-align: center;">
    <b>Placement Portal
    </b>
        </mat-card-title>
        <mat-card-subtitle><b>New to Portal?? Then click on Register</b></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <mat-tab-group>
  
      <mat-tab label="SignIn">
  
     <app-studentlogin></app-studentlogin>
        
          
          </mat-tab>
  
  
  
          <mat-tab label="Register">
  
            <app-studentregistratation></app-studentregistratation>
                
                </mat-tab>
        
        
            
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
     
  
  </div> 
