.example-card {
    max-width: 1300px;
  }
  .example-card-title{

    max-width: 400px;
    text-align: -webkit-center;


      
}

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .center-content {
      margin-top: 100px;
      text-align: -webkit-center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }
.mat-table{
    align-content: center;
}