<div class="container">

    <mat-card class="example-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <button type="submit" mat-raised-button color="primary" mat-raised-button (click)="get()">get all default valuest</button>

    
            <form [formGroup]="form1" (ngSubmit)="registerStudent()">
    
    
                <mat-form-field class="example-full-width">
                    <mat-label>CompnayId</mat-label>
                    <input formControlName="companyId" #compnayId matInput placeholder="companyId">
                    <mat-error *ngIf="form1.get('companyId').hasError('required')"> Enter companyId</mat-error>
    
                    <mat-hint>companyId is required</mat-hint>
                    <mat-icon matSuffix>Id</mat-icon>
                </mat-form-field>
    
                
    
                <mat-form-field class="example-full-width">
                    <mat-label>CompnayName</mat-label>
                    <input formControlName="compnayName" #compnayName matInput placeholder="CompnayName">
                    <mat-error *ngIf="form1.get('compnayName').hasError('required')"> Enter CompnayName</mat-error>
    
                    <mat-hint>CompnayName is required</mat-hint>
                    <mat-icon matSuffix>Name</mat-icon>
                </mat-form-field>
    
    
    
    
                <mat-form-field class="example-full-width">
                    <mat-label>Select role</mat-label>
                    <mat-select formControlName="role">
                        
                        <mat-option *ngFor="let role of roles"  [value]="role"  >
                            {{role}}
                        </mat-option>
                    </mat-select>
    
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <mat-label>AnnualPackage</mat-label>
                    <input formControlName="annualPackage" #annualPackage matInput placeholder="AnnualPackage">
                    <mat-error *ngIf="form1.get('annualPackage').hasError('required')"> Enter CompnayName</mat-error>
    
                    <mat-hint>annualPackage is required</mat-hint>
                    <mat-icon matSuffix>Salary</mat-icon>
                </mat-form-field>
    
    
    
                <mat-form-field class="example-full-width">
                    <mat-label>graduationPercentage</mat-label>
                    <input formControlName="graduationPercentage"  matInput
                        placeholder="graduationPercentage">
                    <mat-error *ngIf="form1.get('graduationPercentage').hasError('required')">Enter GraduationPercentage  
                    </mat-error>
    
                    <mat-hint>graduationPercentage is required</mat-hint>
                </mat-form-field>
    
    
    
                <mat-form-field class="example-full-width">
                    <mat-label>secondaryEduPercentage</mat-label>
                    <input formControlName="secondaryEduPercentage"  matInput
                        placeholder="secondaryEduPercentage">
                    <mat-error *ngIf="form1.get('secondaryEduPercentage').hasError('required')">Enter SecondaryEduPercentage 
                        </mat-error>
    
                    <mat-hint>secondaryEduPercentage is required</mat-hint>
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <mat-label>primaryEduPercentage</mat-label>
                    <input formControlName="primaryEduPercentage"  matInput
                        placeholder="primaryEduPercentage">
                    <mat-error *ngIf="form1.get('primaryEduPercentage').hasError('required')">Enter PrimaryEduPercentage 
                    </mat-error>
    
                    <mat-hint>primaryEduPercentage is required</mat-hint>
                </mat-form-field>
    
    
                <mat-form-field class="example-full-width">
                    <mat-label>noofArrears</mat-label>
                    <input formControlName="noofArrears" #noofArrears matInput placeholder="noofArrears">
                    <mat-error *ngIf="form1.get('noofArrears').hasError('required')">Enter noofArrears  </mat-error>
    
                    <mat-hint>noofArrears is required</mat-hint>
                    <mat-icon matSuffix>Arrears</mat-icon>
                </mat-form-field>
    
                <div class="container1" >
                    <button type="submit" mat-raised-button color="primary" mat-raised-button >Update</button>
                </div>
            </form>
    
        </mat-card-content>
    
    
    
    
    
    </mat-card>
    </div>
    