<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>


        <form [formGroup]="form1" (ngSubmit)="registerStudent()">




            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input formControlName="mailId" #mailId matInput placeholder="Email">
                <mat-error *ngIf="form1.get('mailId').hasError('required')">Please Enter the MailId </mat-error>
                <mat-error *ngIf="form1.get('mailId').hasError('pattern')"> Enter Valid MailId </mat-error>

                <mat-hint>MailId is required</mat-hint>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>



            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" #password matInput placeholder="Password">
                    <mat-error *ngIf="form1.get('password').hasError('required')"> Please Enter the Password </mat-error>
                    <mat-error *ngIf="form1.get('password').hasError('pattern')"> Your password should contain atleast uppercase,lowecase and special character</mat-error>
                    <mat-hint>Password is required</mat-hint>

                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>

            </div>

            <mat-form-field class="example-full-width">
                <mat-label>StudentName</mat-label>
                <input formControlName="studentName" #studentName matInput placeholder="StudentName">
                <mat-error *ngIf="form1.get('studentName').hasError('required')"> Enter StudentName</mat-error>

                <mat-hint>StudentName is required</mat-hint>
                <mat-icon matSuffix>Name</mat-icon>
            </mat-form-field>




            <mat-form-field class="example-full-width">
                <mat-label>Select department</mat-label>
                <mat-select formControlName="department">
                    
                    <mat-option *ngFor="let department of departments"  [value]="department"  >
                        {{department}}
                    </mat-option>
                </mat-select>

            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>graduationPercentage</mat-label>
                <input formControlName="graduationPercentage"  matInput
                    placeholder="graduationPercentage">
                <mat-error *ngIf="form1.get('graduationPercentage').hasError('required')">Enter GraduationPercentage  
                </mat-error>

                <mat-hint>graduationPercentage is required</mat-hint>
                <mat-icon matSuffix>Percentage</mat-icon>
            </mat-form-field>



            <mat-form-field class="example-full-width">
                <mat-label>secondaryEduPercentage</mat-label>
                <input formControlName="secondaryEduPercentage"  matInput
                    placeholder="secondaryEduPercentage">
                <mat-error *ngIf="form1.get('secondaryEduPercentage').hasError('required')">Enter SecondaryEduPercentage 
                    </mat-error>

                <mat-hint>secondaryEduPercentage is required</mat-hint>
                <mat-icon matSuffix>Percentage</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>primaryEduPercentage</mat-label>
                <input formControlName="primaryEduPercentage"  matInput
                    placeholder="primaryEduPercentage">
                <mat-error *ngIf="form1.get('primaryEduPercentage').hasError('required')">Enter PrimaryEduPercentage 
                </mat-error>

                <mat-hint>primaryEduPercentage is required</mat-hint>
                <mat-icon matSuffix>Percentage</mat-icon>
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>noofArrears</mat-label>
                <input formControlName="noofArrears" #noofArrears matInput placeholder="noofArrears">
                <mat-error *ngIf="form1.get('noofArrears').hasError('required')">Enter noofArrears  </mat-error>

                <mat-hint>noofArrears is required</mat-hint>
                <mat-icon matSuffix>Arrears</mat-icon>
            </mat-form-field>

            <div>
                <button type="submit" mat-raised-button color="primary" mat-raised-button [disabled]="form1.invalid">Register</button>
            </div>

        </form>

    </mat-card-content>





</mat-card>